In [1]:
import pandas as pd

In [10]:
happy_df_2019 = pd.read_excel("../Data/world-happiness-report-2019-withregion.xlsx")
area_df = pd.read_csv("../Data/area.csv")
population_df = pd.read_csv("../Data/population.csv", names=["Rank","COUNTRY","Population","Year"])
birthrate_df = pd.read_excel("../Data/BirthRate2018.xlsx")
unemploy_df = pd.read_excel("../Data/Unemployment2017.xlsx")
obesity_df = pd.read_csv("../Data/obesity_rates.csv")

In [11]:
#creating a DF out of just the area and population, to calculate population density
popdensity_df=pd.merge(area_df,population_df,on="COUNTRY",how="outer")
popdensity_df.head()

,RANK,COUNTRY,(SQ KM),DATE OF INFORMATION,Rank,Population,Year
0,1,RUSSIA,17098242.0,NaN,9.0,1.421228e+08,July 2018 est.
1,2,ANTARCTICA,14200000.0,NaN,NaN,NaN,NaN
2,3,CANADA,9984670.0,NaN,38.0,3.588166e+07,July 2018 est.
3,4,UNITED STATES,9833517.0,NaN,3.0,3.292565e+08,July 2018 est.
4,5,CHINA,9596960.0,NaN,1.0,1.384689e+09,July 2018 est.

In [12]:
#trim to only Country, SQKM, and Population
trimmed_popdens_df=pd.DataFrame({"Country":popdensity_df["COUNTRY"],"SQ KM":popdensity_df["(SQ KM)"],
                                            "Population":popdensity_df["Population"]})
trimmed_popdens_df.head()

         Country       SQ KM    Population
0         RUSSIA  17098242.0  1.421228e+08
1     ANTARCTICA  14200000.0           NaN
2         CANADA   9984670.0  3.588166e+07
3  UNITED STATES   9833517.0  3.292565e+08
4          CHINA   9596960.0  1.384689e+09

In [13]:
#dropna
trimmed_popdens_df=trimmed_popdens_df.dropna()
trimmed_popdens_df.head()

         Country       SQ KM    Population
0         RUSSIA  17098242.0  1.421228e+08
2         CANADA   9984670.0  3.588166e+07
3  UNITED STATES   9833517.0  3.292565e+08
4          CHINA   9596960.0  1.384689e+09
5         BRAZIL   8515770.0  2.088469e+08

In [14]:
trimmed_popdens_df["SQ KM"]=trimmed_popdens_df["SQ KM"].astype(float)

In [15]:
#Make pop density calculation
#I had to use excel to change the formatting of the SQKM column to make this work. I tried using Regex but it didn't work well.
trimmed_popdens_df["Population Density"]=trimmed_popdens_df["Population"]/trimmed_popdens_df["SQ KM"]
trimmed_popdens_df.head()

         Country       SQ KM    Population  Population Density
0         RUSSIA  17098242.0  1.421228e+08            8.312128
2         CANADA   9984670.0  3.588166e+07            3.593675
3  UNITED STATES   9833517.0  3.292565e+08           33.483083
4          CHINA   9596960.0  1.384689e+09          144.284126
5         BRAZIL   8515770.0  2.088469e+08           24.524722

In [16]:
#renaming columns so that the happy_df_2019 pd and trimmed_popdens_df pd can be merged on "Country"
happy_df_2019=happy_df_2019.rename(columns={"Country (region)":"Country"})
happy_df_2019.head()

,Country,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Region
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,Western Europe
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,Western Europe
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Western Europe
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Western Europe
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,Western Europe

In [17]:
#Making country names all lowercase in both datasets
happy_df_2019["Country"]=happy_df_2019["Country"].str.lower()
trimmed_popdens_df["Country"]=trimmed_popdens_df["Country"].str.lower()

In [18]:
#merging the happiness data and the pop density data
merged_df=pd.merge(happy_df_2019,trimmed_popdens_df,on="Country",how="outer")
merged_df=merged_df.dropna()
merged_df.head()

,Country,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Region,SQ KM,Population,Population Density
0,finland,1.0,4.0,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,Western Europe,338145.0,5537364.0,16.375709
1,denmark,2.0,13.0,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,Western Europe,43094.0,5809502.0,134.809997
2,norway,3.0,8.0,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Western Europe,323802.0,5372191.0,16.590975
3,iceland,4.0,9.0,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Western Europe,103000.0,343518.0,3.335126
4,netherlands,5.0,1.0,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,Western Europe,41543.0,17151228.0,412.854825

In [19]:
#Formatting Birthrate df to merge
trimmed_birthrate_df=pd.DataFrame({"Country":birthrate_df["COUNTRY"],
                                   "Birth Rate (Child per woman)":birthrate_df["(CHILDREN BORN/WOMAN)"]})
trimmed_birthrate_df["Country"]=trimmed_birthrate_df["Country"].str.lower()
trimmed_birthrate_df.head()

   Country  Birth Rate (Child per woman)
0    niger                          6.35
1   angola                          6.09
2  burundi                          5.93
3     chad                          5.90
4     mali                          5.90

In [20]:
#Formatting obesity df to merge
trimmed_obesity_df=pd.DataFrame({"Country":obesity_df["COUNTRY"],
                                   "Obesity Rate (%)":obesity_df["(%)"]})
trimmed_obesity_df["Country"]=trimmed_obesity_df["Country"].str.lower()
trimmed_obesity_df.head()

            Country  Obesity Rate (%)
0             nauru              61.0
1      cook islands              55.9
2             palau              55.3
3  marshall islands              52.9
4            tuvalu              51.6

In [21]:
#Formatting unemployment df to merge
trimmed_unemploy_df=pd.DataFrame({"Country":unemploy_df["Country"],
                                   "Unemployment Rate (%)":unemploy_df["Unemployment Rate (%)"]})
trimmed_unemploy_df["Country"]=trimmed_unemploy_df["Country"].str.lower()
trimmed_unemploy_df.head()

                   Country  Unemployment Rate (%)
0  cocos (keeling) islands                    0.1
1                 cambodia                    0.3
2                    niger                    0.3
3                     laos                    0.7
4                 thailand                    0.7

In [22]:
#merge birthrate
merged_df=pd.merge(merged_df,trimmed_birthrate_df,on="Country",how="outer")
merged_df=merged_df.dropna()
merged_df.head()

,Country,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Region,SQ KM,Population,Population Density,Birth Rate (Child per woman)
0,finland,1.0,4.0,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,Western Europe,338145.0,5537364.0,16.375709,1.75
1,denmark,2.0,13.0,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,Western Europe,43094.0,5809502.0,134.809997,1.78
2,norway,3.0,8.0,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Western Europe,323802.0,5372191.0,16.590975,1.85
3,iceland,4.0,9.0,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Western Europe,103000.0,343518.0,3.335126,1.99
4,netherlands,5.0,1.0,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,Western Europe,41543.0,17151228.0,412.854825,1.78

In [23]:
#merge obesity
merged_df=pd.merge(merged_df,trimmed_obesity_df,on="Country",how="outer")
merged_df=merged_df.dropna()
merged_df.head()

,Country,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Region,SQ KM,Population,Population Density,Birth Rate (Child per woman),Obesity Rate (%)
0,finland,1.0,4.0,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,Western Europe,338145.0,5537364.0,16.375709,1.75,22.2
1,denmark,2.0,13.0,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,Western Europe,43094.0,5809502.0,134.809997,1.78,19.7
2,norway,3.0,8.0,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Western Europe,323802.0,5372191.0,16.590975,1.85,23.1
3,iceland,4.0,9.0,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Western Europe,103000.0,343518.0,3.335126,1.99,21.9
4,netherlands,5.0,1.0,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,Western Europe,41543.0,17151228.0,412.854825,1.78,20.4

In [24]:
#merge unemployment
merged_df=pd.merge(merged_df,trimmed_unemploy_df,on="Country",how="outer")
merged_df=merged_df.dropna()
merged_df.head()

,Country,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Region,SQ KM,Population,Population Density,Birth Rate (Child per woman),Obesity Rate (%),Unemployment Rate (%)
0,finland,1.0,4.0,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,Western Europe,338145.0,5537364.0,16.375709,1.75,22.2,8.5
1,denmark,2.0,13.0,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,Western Europe,43094.0,5809502.0,134.809997,1.78,19.7,5.7
2,norway,3.0,8.0,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Western Europe,323802.0,5372191.0,16.590975,1.85,23.1,4.2
3,iceland,4.0,9.0,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Western Europe,103000.0,343518.0,3.335126,1.99,21.9,2.8
4,netherlands,5.0,1.0,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,Western Europe,41543.0,17151228.0,412.854825,1.78,20.4,4.9

In [25]:
#checking we still have a reasonable number of countrys after all the dropnas
merged_df.count()

Country                         125
Ladder                          125
SD of Ladder                    125
Positive affect                 125
Negative affect                 125
Social support                  125
Freedom                         125
Corruption                      125
Generosity                      125
Log of GDP\r\nper capita        125
Healthy life\r\nexpectancy      125
Region                          125
SQ KM                           125
Population                      125
Population Density              125
Birth Rate (Child per woman)    125
Obesity Rate (%)                125
Unemployment Rate (%)           125
dtype: int64

In [26]:
#now the happiness rankings have been messed up - i.e. the original data would have 1 to 149 or so, and maybe country 20
# and 25 have been trimmed out, so it would go 1 .. 19, 21, 22, 23, 24, 26 etc. We want it to be 1 to 125
#for all criteria
#We are going to create a code that will sort a column, then assign 1 to 125 based on the order of that sorting in a
# new column, then sort by the next column, assign 1 to 125, etc.

In [46]:
#rearrange df
clean_df = pd.DataFrame({"Country":merged_df["Country"],
                         "Region":merged_df["Region"],
                         "Ladder":merged_df["Ladder"],
                         "Social Support":merged_df["Social support"],
                         "Freedom":merged_df["Freedom"],
                         "Trust":merged_df["Corruption"],
                         "Generosity":merged_df["Generosity"],
                         "GDP per Capita":merged_df["Log of GDP\r\nper capita"],
                         "Healthy Life Expectancy":merged_df["Healthy life\r\nexpectancy"],
                         "Population Density":merged_df["Population Density"],
                         "Birth Rate":merged_df["Birth Rate (Child per woman)"],
                         "Obesity Rate (%)":merged_df["Obesity Rate (%)"],
                         "Unemployment Rate (%)":merged_df["Unemployment Rate (%)"],
                        })
clean_df.head()

,Country,Region,Ladder,Social Support,Freedom,Trust,Generosity,GDP per Capita,Healthy Life Expectancy,Population Density,Birth Rate,Obesity Rate (%),Unemployment Rate (%)
0,finland,Western Europe,1.0,2.0,5.0,4.0,47.0,22.0,27.0,16.375709,1.75,22.2,8.5
1,denmark,Western Europe,2.0,4.0,6.0,3.0,22.0,14.0,23.0,134.809997,1.78,19.7,5.7
2,norway,Western Europe,3.0,3.0,3.0,8.0,11.0,7.0,12.0,16.590975,1.85,23.1,4.2
3,iceland,Western Europe,4.0,1.0,7.0,45.0,3.0,15.0,13.0,3.335126,1.99,21.9,2.8
4,netherlands,Western Europe,5.0,15.0,19.0,12.0,7.0,12.0,18.0,412.854825,1.78,20.4,4.9

In [47]:
#getting a list of the 10 factor columns that need to be sorted then assigned a rank
columns = list(clean_df.columns)
columns.remove("Country")
columns.remove("Region")
columns

['Ladder',
 'Social Support',
 'Freedom',
 'Trust',
 'Generosity',
 'GDP per Capita',
 'Healthy Life Expectancy',
 'Population Density',
 'Birth Rate',
 'Obesity Rate (%)',
 'Unemployment Rate (%)']

In [51]:
#this for loop will sort a column, create a new column that is a ranking 1-126 for that sorting, then sort next column etc
clean_df["Obesity Rate (%)"]=clean_df["Obesity Rate (%)"] * (-1)
clean_df["Unemployment Rate (%)"]=clean_df["Unemployment Rate (%)"] * (-1)

for column in columns:
    
    test_list=[]
    for country in range (1,126):
        test_list.append(country)
        clean_df=clean_df.sort_values(column, axis = 0, ascending = True)
    clean_df[f"{column} rank"]= test_list

clean_df["Obesity Rate (%)"]=clean_df["Obesity Rate (%)"] * (-1)
clean_df["Unemployment Rate (%)"]=clean_df["Unemployment Rate (%)"] * (-1)

In [52]:
#print to excel
clean_df.to_excel("../Data/MergedData.xlsx")